html {
    height: 100%;
}

body
{
    color: white;
    background-color: black;
    
    height: 100%;
    margin: 0;
    font-family: "Times New Roman", "Times", serif;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
}

/* notifications */

div#message_panel 
{
    position: absolute;
    top: 20px;
    left: 0px;
    height: 700px;
    width: 200px;
    overflow: hidden;
}

div#message_panel_gradient 
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
    background: -webkit-linear-gradient(
        rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
    );
    background: linear-gradient(
        rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%
    );
    filter: alpha(
        Opacity=0, FinishOpacity=100, Style=1, StartX=0, StartY=0, FinishX=0, FinishY=500
    );
}

.message 
{
    margin-bottom: 10px;
}

/* tooltips */

div.tooltip 
{
    display: none;
    padding: 2px 5px;
    border: 1px solid white;
    position: fixed;
    box-shadow: -1px 1px 5px #FFFFFF;
    background: black;
    z-index: 999;
    
    left:30px;
    
}

.tooltip.bottom
{
    top: 30px;
}

.tooltip.right 
{
    left: 2px;
}

.tooltip.left 
{
    right: 0px;
}

.tooltip.top 
{
    bottom: 20px;
}

*:hover > div.tooltip 
{
    display: block;
}

div.tooltip:hover 
{
    display: none !important;
}

.disabled:hover > div.tooltip, .button.free:hover > div.tooltip 
{
    display: none;
}

#event .button.disabled:hover > div.tooltip 
{
    display: block;
}

/* buttons */

.light_button
{
    background-color: black;
    color:white;
    border: solid 1px white;
    z-index: 1;
    
    position: relative;
    text-align: center;
    width: 100px;
    margin-bottom: 5px;
    padding: 2px 10px;
    cursor: pointer;
}
.light_button:hover
{
    text-decoration-line: underline;
}

.light_button.disabled
{
    color: #888;
    border: #888 1px solid;
    cursor: default;
}
.light_button.disabled:hover
{
    text-decoration-line: none;
}
/* content */

div#content
{
    margin: auto;
    width: 700px;
    padding: 20px 0 0 220px;
    position: relative;
}

div#main_panel 
{
    height: 700px;
    width: 700px;
    margin: 20px 0 0 220px;
    
    position: absolute;
    top: 0px;
    left: 0px;
}

div#explore_panel 
{
    height: 700px;
    width: 700px;
    margin: 20px 0 0 220px;
    
    position: absolute;
    top: 0px;
    left: 0px;
}

div#display_panel
{
    position: absolute;
    top: 0px;
    right: -250px;
    cursor: default;
    padding: 5px 10px;
}   

.panel
{
    padding: 5px 10px;
}

.resource_panel
{
    border: 1px solid white;
    width: 200px;
    margin: 10px 0 0 0;
    padding: 5px 10px;
}

.display
{
    position: relative;
}
/* framework */
.visible
{
    display: inline-block;
}

.invisible
{
    display: none;
}

canvas {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}